<h2 mat-dialog-title>Apply</h2>
<mat-dialog-content class="mat-typography py-4">
    <p>
        Please fill up the following details
    </p>
    <div class="py-3">
        <!-- SPACER -->
    </div>
    <form [formGroup]="application" (ngSubmit)="onSubmit()" *ngIf="application">
        <mat-form-field class="w-100" appearance="outline" color="primary">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="application.controls.name" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline" color="primary">
            <mat-label>Email</mat-label>
            <input matInput type="email" [formControl]="application.controls.email" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline" color="primary">
            <mat-label>Mobile</mat-label>
            <input matInput [formControl]="application.controls.mobile" />
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="!application.valid" (click)="onSubmit()">Apply</button>
</mat-dialog-actions>
