<div class="container">
    <div class="py-4">
        <!-- SPACER -->
    </div>
    <ng-container *ngFor="let item of items">
        <div class="pointer row my-3 mx-0 p-3 mat-elevation-z8" [routerLink]="['/job/', item.id]">
            <div class="col-1">
                <img [src]="item.companyLogo" alt="logo" class="logo-image-med" />
            </div>
            <div class="col-6">
                <h4 class="font-weight-bold">
                    {{ item.title }}
                </h4>
                <small>
                    {{ item.shortDesc }}
                </small>
            </div>
            <div class="col-5 text-right">
                <h4>
                    {{ item.companyName }}
                </h4>
                <small class="text-secondary">
                    {{ item.location }}
                </small>
            </div>
        </div>
    </ng-container>
</div>
